[Unit]
Description=peatd flight tracking service
After=multiuser.target
[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/bin/peatd
SupplementaryGroups=plugdev
MemoryHigh=250M
[Install]
WantedBy=multi-user.target
